$color-gray-4D: #4D4D4D;
$color-red-BA: rgb(215,0,0);
$color-gray-D8: #d8d8d8;
$color-gray-E6: #e6e6e6;

$font-encode-cond: 'Encode Sans Condensed', sans-serif;
$font-encode: 'Encode Sans', sans-serif;